/*////////////////////////////////////////////
// Effects                                  //
////////////////////////////////////////////*/
#fog {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
    display: none;
    

    &.active {
        @include animation(fog 50s linear infinite);
        background: url("../img/fog.png") repeat-x scroll 0 0 transparent;
        display: block;
        opacity: 0.5;
    }
}

@include keyframes(fog) {
    0% { background-position: 0 0; }
    100% { background-position: -784px 0; }
}

#rain {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    opacity: 1;
    display: none;

    &.active {
        display: block;
    }
}

#lightning {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    display: none;

    &.active {
        @include animation(lightning 20s linear infinite alternate);
        display: block;
    }
}

@include keyframes(lightning) {
    0% { opacity: 0; }
    25% { opacity: 0; }
    26% { opacity: 0.5; }
    27% { opacity: 0; }
    70% { opacity: 0; }
    71% { opacity: 0.5; }
    72% { opacity: 0; }
    80% { opacity: 0; }
    81% { opacity: 0.5; }
    82% { opacity: 0; }
    100% { opacity: 0; }
}