#loading {
    background-color: #000;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
    font-size: 12px;
    text-transform: uppercase;
    @include transition( opacity 0.5s linear );

    &.done {
        opacity: 0;
    }
}

#loading-text {
    color: #FFFFFF;
    left: 0;
    margin-top: -10px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    @include animation(blinker 1s linear infinite);
}

@include keyframes(blinker) {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}