/*////////////////////////////////////////////
// Mixins                                   //
////////////////////////////////////////////*/
@import 'mixins';


/*////////////////////////////////////////////
// General                                  //
////////////////////////////////////////////*/
*, *:before, *:after {
    padding: 0;
    margin: 0;
    @include user-select( none );
}

body {
    background: url("../img/bg.png") repeat scroll center 2px #111;
    font-family: "courier new", monospace, sans-serif;
    overflow: hidden;
    color: #FFF;
}

#outer-wrapper {
    background: url("../img/frame.png") no-repeat scroll center -118px transparent;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

#inner-wrapper {
    left: 50%;
    margin-left: -392px;
    width: 784px;
    height: 512px;
    top: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;

    &.play canvas {
        opacity: 1;
        @include transition( opacity 1s linear );
    }

    &.started canvas {
        display: block;
    }
}

canvas {
    display: block;
    opacity: 0;
    position: absolute;
}

@media (min-height: 637px){
    body #outer-wrapper {
        background-position: center 2px;
    }

    #inner-wrapper {
        top: 125px;
    }
}

*[title] {
    cursor: help;
}


/*////////////////////////////////////////////
// Loading                                  //
////////////////////////////////////////////*/
@import 'loading';


/*////////////////////////////////////////////
// Menu                                     //
////////////////////////////////////////////*/
#overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: none;
}

#game-interface {
    display: none;

    &.started {
        display: block;
    }
}

#main-menu {
    background: transparent;
    bottom: 0;
    left: 0;
    margin: 0;
    right: 0;
    top: 200px;
    width: auto;
    display: block;
    text-align: center;
}

#ridane {
    background: url("../img/ridane.png") no-repeat scroll 0 0 transparent;
    height: 215px;
    left: 114px;
    position: absolute;
    top: -26px;
    width: 558px;
    z-index: 1;
}

#ridane-glow {
    background: url("../img/ridane-glow.png") no-repeat scroll 0 0 transparent;
    height: 215px;
    left: 119px;
    position: absolute;
    top: -27px;
    width: 558px;
    z-index: 1;
    opacity: 0;
    animation-name: glow;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes glow {
  40%   { opacity: 0; }
  50%   { opacity: 1; }
  70%   { opacity: 0; }
}

.menu {
    left: 50%;
    margin-left: -235px;
    width: 470px;
    bottom: 15px;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
    position: absolute;
    top: 70px;
    display: none;
    overflow-y: auto;

    button, &#main-menu a {
        display: block;
        margin-bottom: 30px;
        margin-top: 0;

        span {
            font-size: 9px;
            position: relative;
            top: -1px;
            text-transform: none;
            font-family: verdana, sans-serif;
        }
    }

    > span {
        margin-left: 105px
    }
}

.menu-main {
    bottom: 15px;
    display: none;
    left: 50%;
    margin-left: -130px;
    position: absolute;
    text-shadow: 0 0 2px #000000;
    top: 200px;
    width: 260px;
    z-index: 3;

    button {
        display: block;
        margin: 0 auto 30px;
    }
}

h1 {
    font-size: 35px;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 10px;
}

h2 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
    text-transform: uppercase;
}

a {
    color: #DDDDDD;

    &:hover {
        color: #FFF;
    }
}

button, .menu a {
    background: url("../img/button.png") no-repeat scroll 8px 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "courier new",monospace,sans-serif;
    margin: 69px auto 0;
    padding: 13px 0 20px;
    position: relative;
    text-transform: uppercase;
    width: 162px;
    text-decoration: none;

    &:hover {
        text-shadow: 0 0 2px #fff;
    }
}

#menu {
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 55px;
    top: 5px;
    width: 40px;
    z-index: 2;
    opacity: 0.75;

    &:hover {
        opacity: 1;
    }
}

#sound {
    background-color: #999999;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px;
    z-index: 2;
    cursor: pointer;
    opacity: 0.75;

    &:hover {
        opacity: 1;
    }
}


/*////////////////////////////////////////////
// General interface                        //
////////////////////////////////////////////*/
#fps {
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 5px;
    display: none;
}

#outer-hp {
    background-color: rgba(200, 0, 0, 0.75);
    border: 1px solid #000;
    height: 10px;
    left: 5px;
    max-width: 200px;
    position: absolute;
    right: 105px;
    top: 5px;
    z-index: 2;
    opacity: 0.75;

    &:hover #inner-hp {
        color: #FFF;
    }
}

#inner-hp {
    background-color: #090;
    font-size: 11px;
    height: 10px;
    position: absolute;
    width: 100%;
    z-index: 2;
    line-height: 9px;
    text-align: center;
    color: rgba(255, 255, 255, 0);
}

#outer-mana {
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #000;
    height: 10px;
    left: 5px;
    max-width: 200px;
    position: absolute;
    right: 105px;
    top: 22px;
    z-index: 2;
    opacity: 0.75;
    display: none;

    &:hover #inner-mana {
        color: #FFF;
    }
}

#inner-mana {
    background-color: #009;
    font-size: 11px;
    height: 10px;
    position: absolute;
    width: 100%;
    z-index: 2;
    line-height: 9px;
    text-align: center;
    color: rgba(255, 255, 255, 0);
}

#outer-stamina {
    background-color: rgba(0, 0, 0, 0.50);
    border: 1px solid #000;
    height: 10px;
    left: 5px;
    max-width: 200px;
    position: absolute;
    right: 105px;
    top: 22px;
    z-index: 2;
    opacity: 0.75;
    display: none;

    &:hover #inner-stamina {
        color: #000;
    }
}

#inner-stamina {
    background-color: #cc0;
    font-size: 11px;
    height: 10px;
    position: absolute;
    width: 100%;
    z-index: 2;
    line-height: 9px;
    text-align: center;
    color: rgba(255, 255, 255, 0);
}

.skill {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #000000;
    color: #FFFFFF;
    font-size: 11px;
    height: 40px;
    position: absolute;
    top: 5px;
    width: 40px;
    z-index: 2;
    line-height: 11px;
}

#skill1 {
    left: 222px;
}

#skill2 {
    left: 269px;
}

#skill3 {
    left: 316px;
}


/*////////////////////////////////////////////
// Effects                                  //
////////////////////////////////////////////*/
@import 'effects';


/*////////////////////////////////////////////
// Keys                                     //
////////////////////////////////////////////*/
@import 'keys';